
Backend/origami-factory-model/\.classpath

Backend/origami-factory-model/\.project

Backend/origami-factory-model/\.settings/

Backend/origamifactory-model/\.project

Backend/origami-factory-model/target/

Backend/origami-factory-model/src/main/java/la/factory/origami/factory/model/wdgjsdfnk\.java

Backend/origamifactory-model/bin/\.project
