<div class="container">
  <p>
    {{categorie.id}}<br/>
    {{categorie.nom}}<br/>

  </p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Nom</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let origami of categories.origamis">
      <td>{{origami.nom}}</td>
      <td>{{origami.tempsRea}}</td>
      <td>{{origami.nbFeuille}}</td>
      <td>{{origami.niveau}}</td>
      <td>{{origami.note}}</td>
      <td>{{origami.actif}}</td>
      <td>{{origami.youtube}}</td>
      <td>{{origami.imageOri}}</td>
    </tr>
    </tbody>
  </table>
</div>
