<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Identifiant</th>
      <th>Username</th>
      <th>Password</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let admin of list()">
      <td [routerLink]="['/admin/'+admin.id]">{{admin.id}}</td>

      <td>{{admin.username}}</td>
      <td>{{admin.username}}</td>
      <td><a class="btn btn-info" (click)="edit(admin.id)">Editer</a></td>
      <td><a class="btn btn-danger" (click)="delete(admin.id)">Supprimer</a></td>
    </tr>
    <tr>
      <td colspan="6"><a class="btn btn-success" (click)="add()">Ajouter</a></td>
    </tr>
    <tr *ngIf="formAdmin">
      <td>{{formAdmin.id}}</td>
      <td>{{formAdmin.version}}</td>
      <td><input type="text" [(ngModel)]="formAdmin.username"/></td>
      <td><input type="text" [(ngModel)]="formAdmin.password"/></td>
      <td><a class="btn btn-info" (click)="save()">Valider</a></td>
      <td><a class="btn btn-info" (click)="cancel()">Annuler</a></td>
      <td><a class="btn btn-warning">Annuler</a></td>
    </tr>
    </tbody>
  </table>

</div>
