<div class="container">

  <table class="table table-striped">
    <thead>
    <tr>
      <th>Identifiant</th>
      <th>Version</th>
      <th>Nom</th>
      <th>Difficulté</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let matiere of list()">
      <td [routerLink]="['/matiere/'+matiere.id]">{{matiere.id}}</td>
      <td>{{matiere.version}}</td>
      <td>{{matiere.nom}}</td>
      <td>{{matiere.difficulte}}</td>
      <td><a class="btn btn-info" (click)="edit(matiere.id)">Editer</a></td>
      <td><a class="btn btn-danger" (click)="delete(matiere.id)">Supprimer</a></td>
    </tr>
    <tr>
      <td colspan="6"><a class="btn btn-success" (click)="add()">Ajouter</a></td>
    </tr>
    <tr *ngIf="formMatiere">
      <td>{{formMatiere.id}}</td>
      <td>{{formMatiere.version}}</td>
      <td><input type="text" [(ngModel)]="formMatiere.nom"/></td>
      <td><input type="text" [(ngModel)]="formMatiere.difficulte"/></td>
      <td><a class="btn btn-info" (click)="save()">Valider</a></td>
      <td><a class="btn btn-warning">Annuler</a></td>
    </tr>
    </tbody>
  </table>

</div>
