#background-hp {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  background-image: url("http://s1.1zoom.net/big0/2/Foxes_Origami_458678.jpg");
  background-size: cover;
  background-position: center;
  z-index: -1;
}
